.scheduler-wrapper {
  color: #eee;
  width: 45rem;
  height: 25rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #098cf7;
  color: white;
  position: relative;
}

.holiday-reminders {
  background-color: #0dc63d;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > * {
  padding: 1rem 2rem;
}

header h1 {
  font-weight: 100;
  font-size: x-large;
  font-family: sans-serif;
}
.empty-note {
  margin: 2rem;
}